@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lemon&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600&display=swap');


.container-1 {
    position: relative;
    line-height: 1.6;
    font-size: 16px;
    font-family: "Comic Neue";
    min-width: 320px;
    position: relative;
    font-weight: 400;
    color: white;
    padding: 8px;
}

.btn {
    font-size: 16px;
    padding: 11px 40px 10px;
    border: 2px solid #fec60d;
    background-color: #fec60d;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    height: 50px;
    display: inline-block;
    transition: .25s ease-in;
    color: #fff;
}

.btn:hover {
    background-color: transparent;
    color: #fec60d;
}

.title-decor {
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.s-crossfit {
    padding: 128px 0 140px;
    justify-content: center;
    /* Horizontally center the container */
    align-items: center;
    /* Vertically center the container */
    text-align: center;
}

.s-crossfit .container-1 {
    position: relative;
}

.s-crossfit .container-1>div {
    position: relative;
    z-index: 1;
}

.crossfit-col {
    padding-top: 0px;
}

.crossfit-col:nth-child(2) {
    padding-top: 0;
}

.crossfit-item {
    text-align: center;
    padding: 50px 40px;
    min-height: 404px;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #a816ad;
    position: relative;
}

.crossfit-item:before {
    content: '';
    position: absolute;
    width: 95%;
    height: 95%;
    left: 50%;
    top: 50%;
    opacity: 0;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    border: 7px solid #fec60d;
    transition: .4s ease-in-out;
    pointer-events: none;
}

.crossfit-item:hover:before {
    margin-top: 0;
    opacity: 1;
}

.crossfit-item h3 {
    text-transform: uppercase;
    margin: 25px 0 6px;
}

.crossfit-item p {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 45px;
}

.crossfit-item img {
    max-width: 200px;
}

.crossfit-icon-1 {
    position: absolute;
    top: 29%;
    left: 21%;
}

.crossfit-icon-2 {
    position: absolute;
    top: -12%;
    left: 0%;
}

.crossfit-icon-3 {
    position: absolute;
    top: 8%;
    right: 14%;
}

@media (max-width: 1199px) {


    .crossfit-item {
        padding: 40px 30px;
        min-height: 360px;
    }

    .crossfit-item img {
        max-width: 121px;
    }

    .crossfit-item p {
        font-size: 14px;
        margin-bottom: 27px;
    }

}