.contact{
align-items: center;
font-size: 2.0rem;
}

  .max-w-md {
    width: 100%;
    width: 28rem;
  }
  
  .py-8 {
    padding-bottom: 4rem;
  }

  .bg-cyan-500,
.bg-pink-500,
.bg-red-500,
.bg-orange-500,
.bg-green-600 {
  width: 100%;
  width:550px; /* Adjust max-width as needed */
}

.h-100 {
    height: 100%;
  }

.text-3xl {
  font-size: 3 rem;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}


.dark:text-white {
  color: #ffffff;
}

.mb-6 {
  margin-bottom: 3.5rem;
}

.space-y-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.bg-cyan-500 {
  background-color: #fec60d;
  transform: rotate(5deg) skew(0deg, 0); 
}

.bg-pink-500 {
  background-color: #fb6c0e;
  transform: rotate(-4deg) skew(2deg, 0);
  text-align: right;
}

.bg-red-500 {
  background-color: #902f72;
  transform: rotate(5deg) skew(2deg, 0);
}

.p-4 {
  padding: 4rem;
}

.rounded-lg {
  border-radius: 1.0rem;
}

.shadow-lg {
  box-shadow: 0 20px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(144, 15, 15, 0.05);
}

.text-lg {
  font-size: 2.125rem;
}

.text-white {
  color: #ffffff;
}

.font-semibold {
  font-weight: 600;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.button {
    --key-text-color: #ffffff;
    --docsearch-key-shadow: inset 0 -2px 0 0 #cdcde6, inset 0 0 1px 1px #fff,
      0 1px 2px 1px rgba(30, 35, 90, 0.4);
    --docsearch-key-gradient: linear-gradient(-225deg, #ff3e17, #920000);
    border: none;
    background: var(--docsearch-key-gradient);
    border-radius: 3px;
    box-shadow: var(--docsearch-key-shadow);
    color: var(--key-text-color);
    cursor: pointer;
    height: 2.5em;
    text-align: center;
    padding: 0.6em;
    margin: 0 0.6em;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    width: 9em;
    line-height: 1em;
    user-select: none;
  }
  

@media only screen and (max-width: 769px) {
    .contact{
        font-size: 1.4rem;
    }

    .bg-cyan-500,
    .bg-pink-500,
    .bg-red-500,
    .bg-orange-500,
    .bg-green-600 {
      width:300px; /* Adjust max-width as needed */
    }

    .p-4 {
        padding: 2rem;
      }
    
  }


